/*List colors*/
.tblColors {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.tblColors th,
.tblColors td {
    padding: 8px;
    font-size: large;
    text-align: left;
}

.tblColors th {
    background-color: #926bcf;
}

.tblColors tr:nth-child(even) {
    background-color: whitesmoke;
}

.tblColors button {
    cursor: pointer;
}

/*Edit color*/
